{% set classes = ['dashboard'] %}
{# {{vardumper(content.field_user)}}
 #}
{# {{vardumper()}} #}

{# <p>
	name:
	{{content.field_user.0["#title"]}}
	<br/>
	participant url:
	{{content.field_user.0["#url"]}}
	<br/>
	participant title:
	{{content.field_user["#title"]}}
	<br/>
	participant id:
	{{content.field_response_id}}
	<br/>
	url:
	{{url}}
	<br/>
	12weeks:
	{{elements.field_timepoint_12w}}
	<br/>
	baseline:
	{{elements.field_timepoint_baseline}}
	<br/>
	programtype:
{{elements.field_program_type}}
</p> #}

{# <div class="programItem">
  <div class="programItem--username">
    {{content.field_user}}
  </div>
    <div class="panel panel-default col-sm-3">
      <div class="panel-heading">
        <div class="panel-title">
          Timepoints
        </div>
      </div>
      <div class="panel-body">
        {{elements.field_timepoint_baseline}}
        {{elements.field_timepoint_12w}}
      </div>
    </div>
  </div>
</div> #}

<div class="panel panel-default">
<div class="panel-heading">
        <div class="panel-title">
          {{elements.field_program_type}}
        </div>
      </div>
  <div class="panel-body">
    <div class="participant">
    {{content.field_user}}
    </div>
    <div class="panel panel-default timepoints">
      <div class="panel-heading">
        <div class="panel-title">
          Timepoints
        </div>
      </div>
      <div class="panel-body">
        {{elements.field_timepoint_baseline}}
        {{elements.field_timepoint_12w}}
      </div>
    </div>
  </div>
</div>

	{# <article>
		<div class="content">
      <div class="panel">
        <div class="panel-heading">
          <h2{{title_attributes}}>
            <a href="{{ url }}" rel="bookmark">
              {{content.field_user.0["#title"]}}
            </a>
          </h2>
          {{elements.field_program_type}}
        </div>
        <div class="panel-body">
         	 

        </div>
      </div>
      <div>
    </div>
	</article> #}

	{# <article{{attributes.addClass(classes)}}> dashboard yo {{ title_prefix }} {% if label and not page %} <h2{{title_attributes}}> <a href="{{ url }}" rel="bookmark">></h2>
	  {% endif %}
	  {{ title_suffix }}
	
	  {% if display_submitted %}
	    <footer>
	      {{ author_picture }}
	      <div{{author_attributes.addClass('author')}}>
	        {% trans %}
	        Submitted by
	        {{ author_name }}
	        on
	        {{ date }}
	        {% endtrans %}
	        {{ metadata }}
	      </div>
	    </footer>
	  {% endif %}
	
	  <div{{content_attributes.addClass('content')}}>
	    {{ content }}
	
	  </div>
	
	</article>
	#}
