{#
/**
 * @file
 * Default theme implementation to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 */
#}
{#vardumper(content.group_survey_info.field_programs_enrolled)#}
{% set programs = content.group_survey_info.field_programs_enrolled|field_value|safe_join(', ') %}
<div>{{content.field_programs_enrolled|field_value|safe_join(', ')}}</div>
<article{{attributes.addClass('person')}}>
	{# {% if content %}
												{{- content -}}
											{% endif %} #}

	{{content.group_contact_info}}

	<div class="panel panel-default links">
		{#<div class="panel-heading">
			<div class="panel-title">
				Links
			</div>
		</div>#}
		{#
<div class="panel-body">
					{% if ('cwwd' in programs|render|render) or ('dep_f' in programs|render|render) or ('susd_f' in programs|render|render) or ('map' in programs|render|render) or ('wat' in programs|render|render) %}
				{{content.group_survey_info.field_participant_questionnaire}}
			{% endif %}
			{% if ('dep_f' in programs|render|render) or ('dep_l' in programs|render|render)  %}
			  {{content.group_survey_info.field_attendance_process_survey}}
			{% endif %}
			{% if ('dep_f' in programs|render|render) or ('susd_f' in programs|render|render)  %}
			  {{content.group_survey_info.field_data_collection_form}}
			{% endif %}
			{% if ('dep_f' in programs|render|render) or ('susd_f' in programs|render|render)  %}
			  {{content.group_survey_info.field_asa_24}}
			{% endif %}
			{% if ('cwwd' in programs|render|render) or ('dep_f' in programs|render|render) or ('susd_f' in programs|render|render) or ('map' in programs|render|render) or ('wat' in programs|render|render) %}
				{{content.group_survey_info.field_report_an_adverse_event}}
			{% endif %}
		</div>#}
	</div>
	{{content.group_survey_info.field_study_data}}
</article>
