{#
/**
 * @file
 * Default theme implementation to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 */
#}
{# {{vardumper()}} #}

<article{{attributes.addClass('person')}}>
	{# {% if content %}
												{{- content -}}
											{% endif %} #}
	{{content.group_contact_info}}
	<div class="panel panel-default links">
		<div class="panel-heading">
			<div class="panel-title">
				Links
			</div>
		</div>
		<div class="panel-body">
			{{content.group_survey_info.field_ht_participant_screener}}
			{{content.group_survey_info.field_participant_questionnaire}}
			{{content.group_survey_info.ield_attendance_process_survey}}
			{{content.group_survey_info.field_data_collection_form}}
			{{content.group_survey_info.field_asa_24}}
			{{content.group_survey_info.field_attendance_process_survey}}
			{{content.group_survey_info.field_report_an_adverse_event}}
		</div>
	</div>
	{{content.group_survey_info.field_study_data}}
	{{content.field_date_referred_}}
	{{content.field_referred_to_another_ht_pro}}
	{{content.field_report_an_adverse_event}}
</article>
