{#
/**
 * @file
 * Theme override for a field.
 *
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @ingroup templates
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field--label',
    label_display == 'visually_hidden' ? 'sr-only',
  ]
%}

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes.addClass(classes, 'field--items') }}>
      {% for item in items %}
        <div{{ item.attributes.addClass('field--item') }}>{{ item.content }}</div>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes.addClass(classes, 'field--item') }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      <div class="field--items">
    {% endif %}
    {% for item in items %}
      {% set fieldstatus = item.content["#markup"] %}
      {% set field_data_collection_form = drupal_field('field_data_collection_form', 'user', 1024)%}
      {% set field_data_collection_form = field_data_collection_form.0['#url'] %}
      {% set pid = _parent.element['#object'].id.0.value%}
      {% set survey_link = get_survey_link(pid) %}
      {% set tid = _parent.element['#object'].field_timepoint.0.value.target_id %}
      {% set program = _parent.element['#object'].type.0.value.target_id|replace({'_timepoint': '', '_': '-'}) %}
      {% set survey_link = survey_link|replace({'SV_81vKYPSQYjf4AER':'SV_8bPbpQDM3Mz07Ax'}) %}
      {% if tid == 30 %}
        {% set survey_link = survey_link|replace({'DEM=0':''}) %}
      {% endif %}
      {% if tid == 74 %}
        {% set survey_link = survey_link|replace({'=B':'=12W','DEM=0':''}) %}
      {% endif %}
      {% if tid == 75 %}
        {% set survey_link = survey_link|replace({'=B':'=24W','DEM=0':''}) %}
      {% endif %}
      {% if tid == 76 %}
        {% set survey_link = survey_link|replace({'=B':'=36W','DEM=0':''}) %}
      {% endif %}
      {% if tid == 77 %}
        {% set survey_link = survey_link|replace({'=B':'=48W','DEM=0':''}) %}
      {% endif %}
      {% set compstartdate = _parent.element['#object'].field_start_date.0.value | date('U') %}
      {% if compstartdate < 'now' | date('U') and compstartdate > 'now' |date_modify("-90  day")| date('U') %}
        {% set timepointcurrent = TRUE %}
      {% endif %}
      {# debugging
       <div class='alert alert-info'>{{ fieldstatus }}</div>
      {{vardumper(item.content["#markup"])}}#}
      {% if fieldstatus == 'No' %}
        {% set surveyclass = 'field--item alert alert-info' %}
        <div{{ item.attributes.addClass(surveyclass) }}>{{ item.content }}</div>
        {% if timepointcurrent == TRUE %}
        <a href="{{survey_link}}" class="btn btn-success" role="button">Complete Objective Measures</a>
        {% endif %}
      {% elseif fieldstatus == 'Yes' %}
        {% set surveyclass = 'field--item alert alert-success' %}
        <div{{ item.attributes.addClass(surveyclass) }}>{{ item.content }}</div>
      {% else %}
        {% set surveyclass = 'field--item alert alert-info' %}
        <div{{ item.attributes.addClass(surveyclass) }}>{{ item.content }}</div>
      {% endif %}

    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
